body {
  background-color: cadetblue;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

.grid-group {
  display: inline-block;
  text-align: center;
}

.black-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.inline-images {
  display: inline-block;
}

.block-1 {
  background-color: white;
}

.block-2 {
  background-color: gray;
}

.block-3 {
  background-color: white;
}

.block-4 {
  background-color: gray;
}

.block-5 {
  background-color: white;
}
