body {
  background: rgb(10, 10, 100);
  background: linear-gradient(
    90deg,
    rgba(10, 10, 100, 1) 0%,
    rgba(50, 50, 200, 1) 45%,
    rgba(80, 100, 250, 1) 100%
  );
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 80px;
  color: white;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 27px;
}

p {
  font-size: 17px;
}

figcaption {
  font-style: italic;
}

.content-paragraph {
  text-align: left;
}

ol {
  font-size: 17px;
}

.grid-group {
  display: inline-block;
  text-align: center;
}

.black-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.inline-images {
  display: inline-block;
}

img {
  border: 2px solid black;
}

.sprint-odd {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 225, 225, 1) 75%,
    rgba(195, 195, 195, 1) 100%
  );
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.sprint-even {
  background: rgb(180, 180, 180);
  background: linear-gradient(
    90deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(150, 150, 150, 1) 75%,
    rgba(120, 120, 120, 1) 100%
  );
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.block-odd {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(225, 225, 225, 1) 75%,
    rgba(195, 195, 195, 1) 100%
  );
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
}

.block-even {
  background: rgb(180, 180, 180);
  background: linear-gradient(
    90deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(150, 150, 150, 1) 75%,
    rgba(120, 120, 120, 1) 100%
  );
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
}

.linkButton {
  background: rgb(49, 119, 167);
  background: radial-gradient(
    circle,
    rgba(49, 119, 167, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 8px;
  border: 2px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 19px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
  margin: 10px 0px;
}

.buttonContainer {
  display: inline-grid;
}

.linkButton:hover {
  background: linear-gradient(to bottom, #3468a3 5%, #4885e8 100%);
  background-color: #3468a3;
}

.linkButton:active {
  position: relative;
  top: 1px;
}
