body {
  background: rgb(14, 10, 94);
  background: linear-gradient(
    90deg,
    rgba(14, 10, 94, 1) 0%,
    rgba(46, 46, 193, 1) 45%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 17px;
}

.content-paragraph {
  text-align: left;
}

ol {
  font-size: 17px;
}

.grid-group {
  display: inline-block;
  text-align: center;
}

.black-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.inline-images {
  display: inline-block;
}

.sprint-odd {
  background-color: white;
}

.sprint-even {
  background-color: gray;
}

.block-odd {
  background-color: white;
  text-align: left;
}

.block-even {
  background-color: gray;
  text-align: left;
}
